<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>post请求</title>
    <script src = "scripts/jquery.min.js"></script>
</head>

<body>
    <header>
        <center>处理post请求</center>
    </header>
    <form action="/formdeal">
        <div class="item">
            <label for="">用户名：</label>
            <input type="text" name = "user" placeholder="请输入用户名">
        </div>
        <div class="item">
            <label for="">密码：</label>
            <input type="text" name = "pwd" placeholder="请输入密码">
        </div>
        <button type = "submit">登录</button>
    </form>

</body>

</html>
